.header-content {
  padding: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.header-title-content {
    padding: 0 5%;
    color: var(--color-black);
}
.header-title-content > h1 {
  font-size: 80px;
  color: var(--color-primary);
  padding-top: 10%;
}

.header-image {
    max-width: 100%;
    max-height: 100%;
  }

@media screen and (max-width: 1024px) {
  .header-content {
    padding: 3rem 0;
  }
  .header-image {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .header-title-content h1 {
    font-size: 50px;
    padding: 5% 60% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .header-content {
    padding: 2rem 0;

  }
  .header-image {
    position: absolute;
    z-index: -1;
  }
  .header-title-content h1 {
    font-size: 40px;
    padding: 20% 40% 0% 10%;
  }
}